<div class="row">
  <div class="col">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col">
            <h4 i18n="header|notification section header@@statusesandnotifications">Statuses & Notifications</h4>
          </div>
          <div class="col text-right">
            <button *ngIf="!newNotification" (click)="delete()" nbButton outline status="warning">
              <nb-icon icon="trash-outline"></nb-icon> <span i18n="button|delete form button@@delete">Delete</span></button>
            <button class="left-margin" *ngIf="!newNotification" (click)="new()" nbButton outline status="basic">
              <nb-icon icon="plus-outline"></nb-icon> <span i18n="button|create new, form button@@new">New</span></button>
            <button [disabled]="notification.condition==='initial' && existingId !== notification.id && existingId !==''" class="left-margin" (click)="save()" nbButton outline>
              <nb-icon icon="save-outline"></nb-icon> <span i18n="button|form save button@@save">Save</span></button>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="statusname" class="label" i18n="@@statusname">Status name</label>
                  <input id="statusname" type="text" nbInput fullWidth [(ngModel)]="notification.name">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="condition" class="label" i18n="@@condition">Condition</label>
                  <nb-select id="condition" fullWidth [(selected)]="notification.condition">
                    <nb-option value="initial" i18n="@@initial">Initial</nb-option>
                    <nb-option value="external" i18n="@@external">By User</nb-option>
                    <nb-option value="progress" i18n="@@inprogress">In Progress</nb-option>
                    <nb-option value="final" i18n="@@final">Final</nb-option>
                  </nb-select>
                  <nb-alert accent="danger" i18n="@@onlyoneinitialallowed"
                            *ngIf="notification.condition==='initial' && existingId !== notification.id && existingId">
                    Only one Initial status allowed
                  </nb-alert>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="notification" class="label full-width" i18n="@@notification">Notification</label>
                  <nb-toggle id="notification" [(ngModel)]="notification.notify">
                    <ng-container *ngIf="notification.notify" i18n="@@enabled">Enabled</ng-container>
                    <ng-container *ngIf="!notification.notify" i18n="@@disabled">Disabled</ng-container>
                  </nb-toggle>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="state" class="label full-width" i18n="@@state">State</label>
                  <nb-toggle id="state" [(ngModel)]="notification.active">
                    <ng-container *ngIf="notification.active" i18n="@@active">Active</ng-container>
                    <ng-container *ngIf="!notification.active" i18n="@@inactive">Inactive</ng-container>
                  </nb-toggle>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <label for="subject" class="label" i18n="label|form input label@@subject">Subject</label>
                    </div>
                    <div class="col text-right">
                      <nb-icon status="basic" [nbPopover]="helpTemplate" icon="question-mark-circle-outline" nbPopoverTrigger="hover" ></nb-icon>
                    </div>
                  </div>

                  <input nbInput fullWidth type="text" [(ngModel)]="notification.subject" id="subject">
                </div>
                <div class="form-group">
                  <ckeditor [editor]="Editor" [(ngModel)]="notification.body" (ready)="onReady($event)"></ckeditor>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <label class="label">Status List</label>
            <nb-list>
              <nb-list-item [ngClass]="(notification.id === n.id)?'selected':'' || (!n.active)?'disabled':''" *ngFor="let n of notifications ; let i = index" role="cell" (click)="edit(i)">
              <nb-icon icon="arrow-circle-right-outline" *ngIf="n.condition==='initial'"></nb-icon>
                <nb-icon icon="arrow-circle-left-outline" *ngIf="n.condition==='final'"></nb-icon>
                <nb-icon icon="alert-circle-outline" *ngIf="n.condition==='progress'"></nb-icon>
                <nb-icon icon="checkmark-circle-outline" *ngIf="n.condition==='external'"></nb-icon>
                <nb-icon icon="bell-outline" *ngIf="n.notify"></nb-icon>
                <nb-icon icon="bell-off-outline" *ngIf="!n.notify"></nb-icon>
                {{n.name}}
              </nb-list-item>
            </nb-list>
          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>


<ng-template #helpTemplate>
  <nb-card class="no-margin">
    <nb-card-header>
      <h6 i18n="title|section description">Available template tags</h6>
    </nb-card-header>
    <nb-card-body>
      <div class="form-group">
        [trackno] - <span i18n="description|instructions">Tracking reference code</span>
      </div>
      <div class="form-group">
        [recipient] - <span i18n="description|instructions">Parcel designated recipient</span>
      </div>
      <div class="form-group">
        [updated] - <span i18n="description|instructions">Time and Date of last update</span>
      </div>
      <div class="form-group">
        [status] - <span i18n="description|instructions">Current parcel status</span>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
