h3.frame-box {
  color:white;
  display: block;
  position: relative;
  float: none;
  background-color: red;
  width: 100%;
  height: 30px;
  line-height: 2rem;
}
h3 {font-size: 1rem; }
h4 {
  font-size: 0.8rem;
  background: black;
  color: white;
}
div.form-group {
  text-align: center;
}
