<div class="row">
  <div class="col">
    <nb-card accent="basic" [nbSpinner]="loading"
             nbSpinnerStatus="basic"
             nbSpinnerSize="large"
             nbSpinnerMessage="{{loadingString}}">
      <nb-card-header>
        <div class="row">
          <div class="col"><h2 i18n="@@editinguser">Editing User</h2></div>
          <div class="col text-right">
            <div class="row">
              <div class="col text-right">
                <button fullWidth nbButton outline status="basic" (click)="cancel()">
                  <nb-icon icon="close-outline"></nb-icon>
                  <span i18n="@@cancel">cancel</span>
                </button>
              </div>
              <div class="col">
                <button fullWidth nbButton outline (click)="saveProfile()">
                  <nb-icon icon="save-outline"></nb-icon>
                  <span i18n="@@save">Save</span>
                </button>
              </div>
            </div>


          </div>
        </div>
      </nb-card-header>
      <nb-card-body>

        <div class="col" *ngIf="!loading">

          <div class="row">
            <div class="col" i18n="@@location">Location</div>
            <div class="col text-right">
              <button nbButton ghost (click)="toggleLocation()">
                <nb-icon *ngIf="!smallLocation" icon="chevron-up-outline"></nb-icon>
                <nb-icon *ngIf="smallLocation" icon="chevron-down-outline"></nb-icon>
              </button>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="site" class="label" i18n="@@site">Site</label>
                <nb-select fullWidth id="site" [(selected)]="data.site">
                  <nb-option (click)="newSite()" i18n="@@new">New</nb-option>
                  <nb-option *ngFor="let sitename of form.site" [value]="sitename">{{sitename}}</nb-option>
                </nb-select>
              </div>
              <div class="col">
                <label for="subsite" class="label" i18n="@@subsite">Sub Site</label>
                <nb-select fullWidth id="subsite" [(selected)]="data.subSite">
                  <nb-option (click)="newSubSite()" i18n="@@new">New</nb-option>
                  <nb-option *ngFor="let subsite of form.subSite" [value]="subsite">{{subsite}}</nb-option>
                </nb-select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="building" class="label" i18n="@@building">Building</label>
                <nb-select fullWidth id="building" [(selected)]="data.building">
                  <nb-option i18n="@@new" (click)="newBuilding()">New</nb-option>
                  <nb-option *ngFor="let building of form.building" [value]="building">{{building}}</nb-option>
                </nb-select>
              </div>
              <div class="col">
                <label for="floor" class="label" i18n="@@floor">Floor</label>
                <nb-select fullWidth id="floor" [(selected)]="data.floor">
                  <nb-option i18n="@@new" (click)="newFloor()">New</nb-option>
                  <nb-option *ngFor="let floor of form.floor" [value]="floor">{{floor}}</nb-option>
                </nb-select>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="smallLocation">
            <div class="row">
              <div class="col">
                <label for="department" class="label" i18n="@@department">Department</label>
                <nb-select fullWidth id="department" [(selected)]="data.department">
                  <nb-option i18n="@@new" (click)="newDepartment()">New</nb-option>
                  <nb-option *ngFor="let dept of form.department" [value]="dept">{{dept}}</nb-option>
                </nb-select>
              </div>
              <div class="col">
                <label for="costcenter" class="label" i18n="@@costcenter">Cost Center</label>
                <nb-select fullWidth id="costcenter" [(selected)]="data.costCenter">
                  <nb-option i18n="@@new" (click)="newCostCenter()">New</nb-option>
                  <nb-option *ngFor="let cc of form.costCenter" [value]="cc">{{cc}}</nb-option>
                </nb-select>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="smallLocation">
            <div class="row">
              <div class="col">
                <label for="maildrop" class="label" i18n="@@maildrop">Mail Drop</label>
                <nb-select fullWidth id="maildrop" [(selected)]="data.mailDrop">
                  <nb-option i18n="@@new" (click)="newMailDrop()">New</nb-option>
                  <nb-option *ngFor="let md of form.mailDrop" [value]="md">{{md}}</nb-option>
                </nb-select>
              </div>
              <div class="col">
                <label for="mailstop" class="label" i18n="@@mailstop">Mail Stop</label>
                <nb-select fullWidth id="mailstop" [(selected)]="data.mailStop">
                  <nb-option i18n="@@new" (click)="newMailStop()">New</nb-option>
                  <nb-option *ngFor="let ms of form.mailStop" [value]="ms">{{ms}}</nb-option>
                </nb-select>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="smallLocation">
            <div class="row">
              <div class="col">
                <label for="role" class="label" i18n="@@accessrole">Access Role</label>
                <nb-select fullWidth id="role" [(selected)]="data.securityGroup">
                  <nb-option *ngFor="let sec of form.securityGroup" [value]="sec.id">{{sec.name}}</nb-option>
                </nb-select>
              </div>
              <div class="col">
                <label for="route" class="label" i18n="@@route">Route</label>
                <nb-select fullWidth id="route" [(selected)]="data.route">
                  <nb-option i18n="@@new" (click)="newRoute()">New</nb-option>
                  <nb-option *ngFor="let r of form.route" [value]="r">{{r}}</nb-option>
                </nb-select>
              </div>
            </div>
          </div>

        </div>


        <div class="col" *ngIf="!loading">

          <div class="row">
            <div class="col" i18n="@@profile">Profile</div>
            <div class="col text-right">
              <button class="padless" nbButton ghost (click)="toggleProfile()">
                <nb-icon *ngIf="!smallProfile" icon="chevron-up-outline"></nb-icon>
                <nb-icon *ngIf="smallProfile" icon="chevron-down-outline"></nb-icon>
              </button>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="firstname" class="label" i18n="@@firstname">First Name</label>
                <input nbInput fullWidth id="firstname" [(ngModel)]="data.firstName">
              </div>
              <div class="col">
                <label for="surname" class="label" i18n="@@lastname">Last Name</label>
                <input nbInput fullWidth id="surname" [(ngModel)]="data.lastName">
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="smallProfile">
            <div class="row">
              <div class="col">
                <label for="email" class="label" i18n="@@email">Email</label>
                <input nbInput fullWidth id="email" type="email" [(ngModel)]="data.emailAddress">
              </div>
              <div class="col">
                <label for="phone" class="label" i18n="@@phonenumber">Phone Number</label>
                <input nbInput fullWidth id="phone" [(ngModel)]="data.phoneNumber">
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="smallProfile">
            <div class="row">
              <div class="col">
                <label for="username" class="label" i18n="@@username">Username</label>
                <input nbInput fullWidth id="username" type="email" [(ngModel)]="data.username">
              </div>
              <div class="col">
                <label for="password" class="label" i18n="@@password">Password</label>
                <div class="row">
                  <div class="col-9"><input nbInput fullWidth id="password" [(ngModel)]="data.password"></div>
                  <div class="col-3"><button (click)="generatePassword()" nbButton ghost status="basic"><nb-icon icon="refresh-outline"></nb-icon></button></div>
                </div>


              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="smallProfile">
            <div class="row">
              <div class="col">
                <label for="external" class="label" i18n="@@externalreferenceid">External Reference Id</label>
                <input nbInput fullWidth id="external" type="text" [(ngModel)]="data.externalId">
              </div>
              <div class="col text-right">
                <label for="active" class="label" i18n="@@status">Status</label>
                <nb-toggle [(ngModel)]="data.active" id="active" labelPosition="start" i18n>{{data.active ? activeString : inactiveString}}</nb-toggle>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>


</div>
