
<div class="row" *ngIf="user">
  <div class="col-md-7 middle-space">

      <h4 i18n="@@animaldetails">
        Animal details
      </h4>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <label for="animalType" class="label" i18n="@@animaltype">Animal type</label>
              <nb-select [disabled]="disabled" id="animalType" fullWidth [(selected)]="parcel.type">
                <nb-option i18n="@@dog" value="hund">Dog</nb-option>
                <nb-option i18n="@@cat" value="katt">Cat</nb-option>
                <nb-option i18n="@@bird" value="fugl">Bird</nb-option>
                <nb-option i18n="@@reptile" value="reptil">Reptile</nb-option>
                <nb-option i18n="@@other" value="annet">Other</nb-option>
              </nb-select>
            </div>
            <div class="col-md-3">
              <label class="label full-width" i18n="@@cremation">Cremation</label>
              <nb-toggle [disabled]="disabled" [(checked)]="cremationtype" (checkedChange)="cremation()">
                <ng-container *ngIf="cremationtype" i18n="@@single">Single</ng-container>
                <ng-container *ngIf="!cremationtype" i18n="@@joined">Joined</ng-container>
              </nb-toggle>
            </div>
            <div class="col-md-3">
              <label class="label full-width" i18n="@@payer">Payer</label>
              <nb-toggle [disabled]="disabled" [(checked)]="payertype" (checkedChange)="payer()">
                <ng-container *ngIf="payertype" i18n="@@owner">Owner</ng-container>
                <ng-container *ngIf="!payertype" i18n="@@clinic">Clinic</ng-container>
              </nb-toggle>
            </div>
            <div class="col-md-3">
              <label for="payment" class="label" i18n="@@payment">Payment</label>
              <nb-select [disabled]="disabled" id="payment" fullWidth [(selected)]="parcel.priority">
                <nb-option i18n="@@vipps" value="vipps">VIPPS</nb-option>
                <nb-option i18n="@@invoice" value="invoice">Invoice</nb-option>
                <nb-option value="ressursbank">Dyrekonto (Resursbank)</nb-option>
              </nb-select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="label" i18n="@@weight">Weight (kg)</label>
                <input [disabled]="disabled" type="number" nbInput fullWidth [(ngModel)]="parcel.weight.amount">
              </div>
              <div class="form-group">
                <label for="bymail" class="label full-width" i18n="@@bymail">Send by</label>
                <nb-toggle [disabled]="disabled" id="bymail" [(checked)]="parcel.pouch">
                  <ng-container *ngIf="parcel.pouch" i18n="@@mail">Mail</ng-container>
                  <ng-container *ngIf="!parcel.pouch" i18n="@@courier">Courier</ng-container>
                </nb-toggle>
              </div>
            </div>
            <div class="col-md-8">
              <label class="label" i18n="@@engravings">Engravings</label>
              <textarea [disabled]="!cremationtype || disabled" nbInput fullWidth rows="5"
                        [(ngModel)]="parcel.description"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-8">
              <label for="urn" class="label" i18n="@@urn">Urn type</label>
              <nb-select [disabled]="!cremationtype || disabled" id="urn" fullWidth [(selected)]="parcel.name">
                <nb-option i18n="@@310" value="310">310 degradable under 10kg</nb-option>
                <nb-option i18n="@@330" value="330">330 degradable over 10kg</nb-option>
                <nb-option i18n="@@340" value="340">340 degradable over 10kg</nb-option>
                <nb-option i18n="@@360" value="360">360 degradable over 65kg</nb-option>
                <nb-option i18n="@@700" value="700">700 ceramic small (20kg)</nb-option>
                <nb-option i18n="@@710" value="710">710 ceramic medium (60kg)</nb-option>
                <nb-option i18n="@@720" value="720">720 ceramic big (90kg)</nb-option>
                <nb-option i18n="@@800" value="800">800 brass small (under 10kg)</nb-option>
                <nb-option i18n="@@810" value="810">810 brass medium (under 25kg)</nb-option>
                <nb-option i18n="@@820" value="820">820 brass large (under 50kg)</nb-option>
                <nb-option i18n="@@830" value="830">830 brass extra large (under 90kg)</nb-option>
                <nb-option i18n="@@840" value="840">840 brass small oval (under 15kg)</nb-option>
                <nb-option i18n="@@850" value="850">850 brass medium oval (under 30kg)</nb-option>
                <nb-option i18n="@@860" value="860">860 brass large oval (under 65kg)</nb-option>
                <nb-option i18n="@@870" value="870">870 brass extra large oval (under 65kg)</nb-option>
              </nb-select>
            </div>
            <div class="col-md-4">
              <label for="color" class="label" i18n="@@color">Color</label>
              <nb-select [disabled]="!cremationtype || disabled" id="color" fullWidth [(selected)]="parcel.courier">
                <nb-option *ngIf="toInt(parcel.name) > 300 && toInt(parcel.name) < 400" i18n="@@white" value="white">
                  White
                </nb-option>
                <nb-option *ngIf="toInt(parcel.name) > 300 && toInt(parcel.name) < 400" i18n="@@atumnred"
                           value="atumnred">Atumn Red
                </nb-option>
                <nb-option *ngIf="toInt(parcel.name) > 300 && toInt(parcel.name) < 800" i18n="@@blue" value="blue">
                  Blue
                </nb-option>
                <nb-option *ngIf="toInt(parcel.name) > 300 && toInt(parcel.name) < 400" i18n="@@grey" value="grey">
                  Grey
                </nb-option>
                <nb-option *ngIf="toInt(parcel.name) > 300 && toInt(parcel.name) < 400" i18n="@@beige" value="beige">
                  Beige
                </nb-option>
                <nb-option *ngIf="toInt(parcel.name) > 300 && toInt(parcel.name) < 400" i18n="@@green" value="green">
                  Green
                </nb-option>
                <nb-option *ngIf="toInt(parcel.name) > 300 && toInt(parcel.name) < 400" i18n="@@brown" value="brown">
                  Brown
                </nb-option>
                <nb-option *ngIf="toInt(parcel.name) > 300 && toInt(parcel.name) < 400 || toInt(parcel.name) >= 800"
                           i18n="@@black"
                           value="black">Black
                </nb-option>
                <nb-option *ngIf="toInt(parcel.name) > 400 && toInt(parcel.name) < 800" i18n="@@sand" value="sand">
                  Sand
                </nb-option>
                <nb-option *ngIf="toInt(parcel.name) > 400 && toInt(parcel.name) < 800" i18n="@@graystone"
                           value="graystone">Gray
                  Stone
                </nb-option>
                <nb-option *ngIf="toInt(parcel.name) > 400 && toInt(parcel.name) < 800" i18n="@@offwhite"
                           value="offwhite">Off White
                </nb-option>
                <nb-option *ngIf="toInt(parcel.name) >= 800" i18n="@@steel" value="steel">Steel</nb-option>
              </nb-select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-8">
              <label for="addons" class="label" i18n="@@urn">Urn add-ons</label>
              <nb-select [disabled]="!cremationtype || disabled" multiple id="addons" fullWidth
                         [(selected)]="parcel.parcels">
                <nb-option i18n="@@200" value="200">200 paper box (hearth)</nb-option>
                <nb-option i18n="@@2542" value="2542">2542 black (metal)</nb-option>
                <nb-option i18n="@@250" value="250">250 heart (under 3kg) black</nb-option>
                <nb-option i18n="@@240" value="240">240 standard for heart 250 gold</nb-option>
                <nb-option i18n="@@245" value="245">240 velvet leather for heart 250 heart</nb-option>
                <nb-option i18n="@@260" value="260">260 heart (under 10kg) black</nb-option>
                <nb-option i18n="@@265" value="265">265 stand for heart 260 gold</nb-option>
                <nb-option i18n="@@270" value="270">270 velvet gold 360 heart</nb-option>
                <nb-option i18n="@@201" value="201">201 plastic</nb-option>
                <nb-option i18n="@@900" value="900">900 Ash jewelery heart and silver</nb-option>
                <nb-option i18n="@@910" value="910">910 steel with pawprint</nb-option>
                <nb-option i18n="@@915" value="915">915 gilded with stone decoration</nb-option>
                <nb-option i18n="@@930" value="930">930 Ash jewelery with special glass order</nb-option>
              </nb-select>
            </div>
            <div class="col-md-4">
              <label for="decoration" class="label" i18n="@@decoration">Decoration</label>
              <nb-select [(selected)]="parcel.po" [disabled]="!cremationtype || toInt(parcel.name) >400 || disabled"
                         id="decoration" fullWidth>
                <nb-option i18n="@@rose" value="rose">Rose</nb-option>
                <nb-option i18n="@@lily" value="lily">Lily</nb-option>
                <nb-option i18n="@@dove" value="dove">Dove</nb-option>
              </nb-select>
            </div>
          </div>
        </div>
  </div>

  <div class="col-md-5">
    <div class="form-group">
      <h4 i18n="@@ownerdetails">
        Owner details
      </h4>
    </div>

        <form autocomplete="off">
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="email" class="label" i18n="@@email">Email</label>
                <input (focus)="emailFocused = true" (blur)="emailFocused = false" [disabled]="disabled" tabindex="1" autofocus name="email" autocomplete="noemail" (keyup)="findByEmail()"
                       [(ngModel)]="user.emailAddress" type="email" nbInput fullWidth id="email">
                <ng-container *ngIf="user.emailAddress">
                  <nb-card [nbSpinner]="emailLoading" class="user-list" [ngClass]="emailFocused? '' : 'fade'">
                    <nb-card-body>
                      <nb-list>
                        <nb-list-item *ngIf="emailLoading">
                          <ng-container i18n="@@loading">Loading...</ng-container>
                        </nb-list-item>
                        <nb-list-item *ngFor="let u of userList">
                          <nb-user [name]="u.firstName + ' ' + u.lastName" (click)="selectUser(u)"
                                   [title]="u.department +', '+ u.building +' '+u.floor"></nb-user>
                        </nb-list-item>
                      </nb-list>
                    </nb-card-body>
                  </nb-card>
                </ng-container>
              </div>
              <div class="col">
                <label for="mobile" class="label" i18n="@@mobile">Mobile</label>
                <input [disabled]="disabled" tabindex="2" name="phone" autocomplete="nomobile" [(ngModel)]="user.phoneNumber" type="tel"
                       nbInput fullWidth id="mobile">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="firstName" class="label" i18n="@@firstName">First Name</label>
                <input [disabled]="disabled" tabindex="3" autocomplete="noname" autocapitalize="words" name="firstName"
                       [(ngModel)]="user.firstName" type="text" nbInput fullWidth id="firstName">
              </div>
              <div class="col">
                <label for="surname" class="label" i18n="@@surname">Surname</label>
                <input [disabled]="disabled" tabindex="4" name="surname" autocomplete="nosurname" autocapitalize="words"
                       [(ngModel)]="user.lastName" type="text" nbInput fullWidth id="surname">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="zipcode" class="label" i18n="@@zipcode">Zip-Code</label>
                <input [disabled]="disabled" tabindex="5" name="zipcode" [(ngModel)]="user.route" type="text" nbInput fullWidth id="zipcode">
              </div>
              <div class="col">
                <label for="city" class="label" i18n="@@city">City</label>
                <input [disabled]="disabled" tabindex="6" name="city" [(ngModel)]="user.department" type="text" nbInput fullWidth id="city">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="street" class="label" i18n="@@street">Street</label>
                <input [disabled]="disabled" tabindex="7" name="street" [(ngModel)]="user.building" type="text" nbInput fullWidth id="street">
              </div>
              <div class="col">
                <label for="number" class="label" i18n="@@number">Number</label>
                <input [disabled]="disabled" tabindex="8" name="number" [(ngModel)]="user.floor" type="text" nbInput fullWidth id="number">
              </div>
            </div>
          </div>
        </form>


  </div>
</div>
